<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="com.teamtracker.qa.util.Reporting"/>
</listeners>
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"/>
    <classes>
       <!-- <class name="com.teamtracker.qa.testcases.TC_Login_001"/> 
      <class name="com.teamtracker.qa.testcases.TC_LoginDDT_002"/>
      <class name="com.teamtracker.qa.testcases.TC_Add_Manager_001"/>-->
      <class name="com.teamtracker.qa.testcases.Assign_Task_To_Mobile"/>
      
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
